[submodule "asteria"]
	path = asteria
	url = https://github.com/lhmouse/asteria.git
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/lhmouse/http-parser.git
[submodule "libmongoc-dev-symlinks"]
	path = libmongoc-dev-symlinks
	url = https://github.com/lhmouse/libmongoc-dev-symlinks.git
[submodule "taxon"]
	path = taxon
	url = https://github.com/lhmouse/taxon.git
