[submodule "asteria"]
	path = asteria
	url = https://github.com/lhmouse/asteria.git
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/lhmouse/http-parser.git
[submodule "sparsehash"]
	path = sparsehash
	url = https://github.com/lhmouse/sparsehash.git
